[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=redshift
Exec=redshift -c /home/united/.config/redshift/redshift.conf
StartupNotify=false
Terminal=false
Hidden=true
Comment=
RunHook=0
NotShowIn=LXDE;

